{% extends "pages/base.html" %}
{% block content %}
  <h2>History of {{ country }}</h2>

  <p>
    The Korean War (1950–1953) was fought on the Korean peninsula between forces led by North Korea (with support from China and the Soviet Union) and forces led by
    South Korea (with support from the United Nations, especially the United States). <a href="{% url 'references' %}#ref1">[1]</a>
  </p>

  <p>
    The fighting ended with an armistice in 1953, leaving Korea divided and separated by a demilitarized zone (DMZ); no formal peace treaty was concluded.
    <a href="{% url 'references' %}#ref1">[1]</a>
  </p>
{% endblock %}

