{% extends 'pages/base.html' %}

{% block content %}

<h1>{{ country }} Geography</h1>

{% for area in areas %}
    <h2>
        <a href="{% url 'areadetail' area.pk %}">
            {{ area.area_name }} ({{ area.area_type|title }})
        </a>
    </h2>

    <ul>
        {% for attraction in area.attraction_set.all %}
            <li>
                <a href="{% url 'attractiondetail' attraction.pk %}">
                    {{ attraction.attraction_name }}
                </a>
            </li>
        {% empty %}
            <li>No attractions added yet.</li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}